body {
    text-align: center;
}

.score {
    font-size: 1.3em;
}

.failMessage,
.successMessage {
    display: none;
}

.score {
    padding-top: 30px;
}

.sprite {
    max-width: 60px;
}

.proceed {
    height: 30px;
    background-color: yellowgreen;
    border-radius: 7px;
}